 .masonry-container {
     
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 10px;
    background-color: white;
} 


.masonry {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    align-content: stretch;
    width: 100%;
    margin: auto;
} 

 .column {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-content: stretch;
    -webkit-box-flex: 1;
    flex-grow: 1;
} 

 .tile {
    margin: 4px;
} 

 .tile img {
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 100%;

} 

